:root {
    --main-font: "Poppins";
    --main-color: #292D32;
    --accent-color: #5932EA;
}

* {
    display: block;
    box-sizing: content-box;
}

body {
    color: var(--main-color);
    font-family: var(--main-font);
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  ul,
  li,
  p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
  }

.dashboard {
display: grid;
grid-template-columns: repeat(1, 1fr 3fr);
}

.dashboard__sidebar {
display: flex;
flex-direction: column;
padding: 20px 15px 35px;
margin: 0 auto;
}

.dashboard__logo {
display: flex;
align-items: flex-end;
margin-bottom: 24px;
}

.dashboard__logo-icon {
width: 25px;
height: 25px;
margin-right: 8px;
}

.dashboard__logo-title {
    margin-right: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #000000;
}

.dashboard__logo-version {
font-weight: 500;
font-size: 10px;
line-height: 2.5;
letter-spacing: -0.01em;
color: #838383;
}

.dashboard__sidebar-list {
flex-grow: 2;
}

.dashboard__sidebar-list-item {
  padding: 8px 4px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.dashboard__sidebar-list-item:nth-child(3) {
  background-color: #5932EA;
}

.dashboard__sidebar-list-item:nth-child(3) > .dashboard__sidebar-list-icon {
  stroke: #ffffff;
}

.dashboard__sidebar-list-item:nth-child(3) > .dashboard__sidebar-list-link {
  color: #ffffff;
}

.dashboard__sidebar-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.dashboard__sidebar-list-item:hover,
.dashboard__sidebar-list-item:focus {
  background-color: #5932EA;
}

.dashboard__sidebar-list-item:hover > .dashboard__sidebar-list-icon,
.dashboard__sidebar-list-item:focus > .dashboard__sidebar-list-icon {
  fill: #ffffff;
  stroke: #ffffff;
}

.dashboard__sidebar-list-item:hover > .dashboard__sidebar-list-link,
.dashboard__sidebar-list-item:focus > .dashboard__sidebar-list-link {
  color: #ffffff;
}

.dashboard__sidebar-list-icon {
flex-grow: 1;
width: 20px;
height: 20px;
fill: #9197B3;
stroke: #9197B3;
}

.dashboard__sidebar-list-icon--click {
  flex-grow: 1;
  width: 16px;
  height: 16px;
}

.dashboard__sidebar-list-link {
  flex-grow: 2;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #9197B3;
}

.dashboard__user {
display: flex;
align-items: center;
}

.dashboard__user-img {
width: 35px;
height: 35px;
margin-right: 8px;
}

.dashboard__user-wrapper-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  
  color: #000000;
}

.dashboard__user-wrapper-position {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  
  color: #757575;
}

.dashboard__customers {
  background-color: #F9FBFF;
  padding: 20px 35px;
}

.dashboard__customers-title {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;  
  
  color: #000000;
}

.dashboard__customers-list {
background-color: #ffffff;
padding: 18px 14px;
box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
border-radius: 30px;
}

.dashboard__customers-list-header {
display: flex;
align-items: center;
justify-content: space-between;
}

.dashboard__customers-list-header-title {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  
  color: #000000;
}

.dashboard__customers-list-header-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  
  color: #16C098;
}

.dashboard__customers-list-header-wrapper {
position: relative;
}

.dashboard__customers-list-header-wrapper-icon {
position: absolute;
top: 7px;
left: 8px;
width: 20px;
height: 20px;
stroke: #7E7E7E;
}

.dashboard__customers-list-header-wrapper-input {
  padding: 8px 8px 8px 36px;
  margin-right: 9px;
  background-color: #F9FBFF;
  border-radius: 10px;
  border: none;
}

.dashboard__customers-list-header-wrapper-input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.5;
letter-spacing: -0.01em;

color: #B5B7C0;
}

.dashboard__customers-list-table-header-row {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-column-gap: 2px;
padding-bottom: 8px;
border-bottom: 1px solid #EEEEEE;
}

.dashboard__customers-list-table-header-text {
  display: inline-block;
  text-align: start;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  
  color: #B5B7C0;
}

.dashboard__customers-list-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 2px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #EEEEEE;
}

.dashboard__customers-list-table-row-text {
flex-grow: 1;
display: inline-block;
font-weight: 500;
font-size: 11px;
line-height: 1.2;
letter-spacing: -0.01em;

color: #292D32;
}

.dashboard__customers-list-table-row-text-link {
color: inherit;
}

.dashboard__customers-list-table-row-text-link:hover,
.dashboard__customers-list-table-row-text-link:focus {
  color: #16C098;
}

.dashboard__customers-list-table-row-text-link:hover .dashboard__customers-list-table-row-text-icon,
.dashboard__customers-list-table-row-text-link:focus .dashboard__customers-list-table-row-text-icon{
  fill: #16C098;
}

.dashboard__customers-list-table-row-text-link--num {
display: none;
}

.dashboard__customers-list-table-row-text-icon {
  width: 18px;
  height: 18px;
}

.button {
  padding: 2px 8px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  letter-spacing: -0.01em;
  cursor: pointer;
}

.button--red {
padding: 2px 4px;
background-color: #FFC5C5;
border: 1px solid #DF0404;
color: #DF0404;
}

.button--red:hover,
.button--red:focus {
  background-color: #f7b1b1;
}

.button--green {
color:  #008767;
background-color: rgba(22, 192, 152, 0.38);
border: 1px solid #00B087;
}

.button--green:hover,
.button--green:focus {
  background-color: rgba(22, 192, 152, 0.627);
}

.dashboard__customers-list-footer {
padding: 20px 0;
display: flex;
justify-content: space-between;
align-items: center;
}

.dashboard__customers-list-footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  
  color: #B5B7C0;
}

.dashboard__customers-list-footer-pagination {
display: flex;
}

.dashboard__customers-list-footer-pagination-item:not(:nth-child(6)) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 20px;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}

.dashboard__customers-list-footer-pagination-item:not(:last-child) {
 margin-right: 6px;
}

.dashboard__customers-list-footer-pagination-item:nth-child(6) {
  margin: auto 6px auto 0;
}

.dashboard__customers-list-footer-pagination-item:hover:not(:nth-child(6)),
.dashboard__customers-list-footer-pagination-item:focus:not(:nth-child(6)) {
background-color: #5932EA;
border: 1px solid #5932EA;
}

.dashboard__customers-list-footer-pagination-item:hover:not(:nth-child(6)) .dashboard__customers-list-footer-item-link,
.dashboard__customers-list-footer-pagination-item:focus:not(:nth-child(6)) .dashboard__customers-list-footer-item-link {
color: #ffffff;
}

.dashboard__customers-list-footer-pagination-item:hover .dashboard__customers-list-footer-item-icon,
.dashboard__customers-list-footer-pagination-item:focus .dashboard__customers-list-footer-item-icon {
fill: #ffffff;
}

.dashboard__customers-list-footer-item-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  
  color: #404B52;
}

.dashboard__customers-list-footer-item-icon {
width: 6px;
height: 7px;
fill: #404B52;;
}

@media screen and (min-width: 767px) {
  .dashboard__sidebar {
    padding: 36px 28px 76px;
    }
  .dashboard__logo {
    margin-bottom: 64px;
    }
  .dashboard__logo-icon {
    width: 37px;
    height: 37px;
    }
  .dashboard__logo-title {
      font-size: 26px;
  }
  .dashboard__sidebar-list-item {
    padding: 11px 8px 11px 11px;
  }
  .dashboard__sidebar-list-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .dashboard__sidebar-list-icon {
    width: 24px;
    height: 24px;
  }
  .dashboard__sidebar-list-link {
    font-size: 14px;
  }
  .dashboard__user-img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }
  .dashboard__customers {
    background-color: #F9FBFF;
    padding: 41px 95px 258px 71px;
  }
  .dashboard__customers-title {
    margin-bottom: 51px;
    font-size: 24px;
  }
  .dashboard__customers-list {
    padding: 30px 44px 41px 38px;
  }
  .dashboard__customers-list-header-title {
    font-size: 22px;
  }
  .dashboard__customers-list-header-descr {
    font-size: 14px;
  }
  .dashboard__customers-list-header-wrapper-icon {
    top: 7px;
    left: 8px;
    width: 24px;
    height: 24px;
  }
  .dashboard__customers-list-header-wrapper-input {
    padding: 10px 10px 10px 40px;
  }
  .dashboard__customers-list-table-header-row {
    padding-bottom: 14px;
  }
  .dashboard__customers-list-table-header-text {
    font-size: 14px;
  }
  .dashboard__customers-list-table-row {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .dashboard__customers-list-table-row-text {
    font-size: 14px;
    line-height: 1.5;
  }
  .button {
    padding: 4px 18px;
    font-size: 14px;
    line-height: 1.5;
  }
  .button--red {
    padding: 4px 12px;
  }
  .dashboard__customers-list-footer {
    padding: 30px 0 40px 0;
  }
  .dashboard__customers-list-footer-pagination-item:not(:nth-child(6)) {
    width: 26px;
    height: 24px;
  }
  .dashboard__customers-list-footer-pagination-item:not(:last-child) {
    margin-right: 12px;
  }
  .dashboard__customers-list-footer-pagination-item:nth-child(6) {
    margin: auto 12px auto 0;
  }
  .dashboard__customers-list-table-row-text-icon {
    display: none;
  }
  .dashboard__customers-list-table-row-text-link--num {
    display: inline-block;
  }
  .dashboard__customers-list-table-row {
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  .dashboard__customers-list-table-header-row {
    grid-template-columns: 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-column-gap: 10px;
  }
}
